body {
    /*background-color: #1d44b8;*/
    background-color: #185886;
    color: white;
}

::selection {
    background: orange;
    color: black;
}

.accent {
    background-color: white;
    color: #185886;
    font-weight: bolder;
    padding: 0 5pt;
}

.uppercase {
    text-transform: uppercase;
}

.underline {
    text-decoration: underline red solid;
    text-underline-offset: 5pt;
}

.overline {
    text-decoration: overline red solid;
}

.underline.overline {
    text-decoration: underline overline red solid;
}