body {
    background-color: #185886;
    color: white;
}

::selection {
    background: orange;
    color: black;
}

.accent {
    background-color: white;
    color: #185886;
    font-weight: bolder;
    padding: 0 5pt;
}

.uppercase {
    text-transform: uppercase;
}

.underline {
    position: relative;
    display: inline-block;
}

.underline::before {
    content: "";
    position: absolute;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    border-bottom: 3pt solid red;
    transform: rotate(-1deg);
}