#testimonies p {
    font-size: large;
    font-family: "Edu SA Hand", cursive;
    font-weight: 400;
    padding: 0 10pt;
    text-align: justify;
}

#testimonies p.text-end {
    padding: 0;
    margin-bottom: 0;
}

#testimonies .row {
    border-bottom: 2pt solid white;
    margin: 10pt 0;
    padding: 5pt 0;
}